body{
    color:white;
    background:pink;
    margin: 0px;
}
header {
     border-bottom: solid 2px rgb(255, 0, 157);
     puddig: 20px;
     font-size: 32px;
     color: rgb(255, 0, 157);
     }
     /* código omitido */
     section {
        background: rgb(255,0,157);
        padding-bottom: 80px;
        padding-top: 80px;
        display: flex;
        justify-content: center;
     }
     div {
        margin-right: 20px;
     }
     .chamada-texto {
        margin-right: 20px;
     }